{
  "extends": "next",
  "rules": {
    "max-len": ["error", {
      "code": 80,
      "ignoreUrls": true
    }]
  },
  "overrides": [
    {
      extends: ["plugin:testing-library/react"],
      plugins: ["jest", "testing-library", "jest-dom"],
      env: {
        jest: true,
      },
      rules: {
        "import/no-unresolved": [
          2,
          {
            ignore: ["test-utils"],
          },
        ],
      },
      files: ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
    },
    {
      rules: {
        "import/no-anonymous-default-export": ["error", {
          "allowArrowFunction": true,
        }]
      },
      files: ["pages/api/**/*.[jt]s"],
    },
  ]
}
